#footer .container {
  display: flex;
  justify-content: space-between;
  padding: var(--s-m) 0;
}

@media (max-width: 768px) {
  #footer .container {
    flex-direction: column;
    align-items: center;
    row-gap: var(--s-m);
  }
}
