<!-- Contact -->
<section id="contact" class="section section-bg">
  <div class="container">
    <div class="header center">
      <p>CONTACT</p>
      <h2>Get In Touch</h2>
      <p>
        Let's discuss projects and opportunities so we can work together 💡 or
        just dropping by to say hi? My Inbox is open for all. ✉️
      </p>
    </div>
    <div class="contact">
      <form method="post" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div>
          <div class="flex">
            <p>Name</p>
            <p
              *ngIf="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
              class="error"
            >
              Required*
            </p>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Full Name"
            formControlName="name"
          />
        </div>
        <div>
          <div class="flex">
            <p>Email</p>
            <p
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
              class="error"
            >
              Required*
            </p>
          </div>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <div>
          <div class="flex">
            <p>Message</p>
            <p
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
              class="error"
            >
              Required*
            </p>
          </div>
          <textarea
            rows="10"
            class="form-control"
            formControlName="message"
            placeholder="Type Your Message Here..."
          ></textarea>
        </div>
        <button type="submit" class="primary-button">Submit</button>
        <div *ngIf="formSubmitted" class="success">
          Your message has been sent successfully!
        </div>
      </form>
      <div class="contact-info">
        <div class="contact-info-section">
          <i class="pi pi-globe"></i>
          <h4>Reach out via Socials</h4>
          <div class="social-links">
            <a href="{{ socialMediaLinks.linkedin }}" target="_blank"
              ><i class="pi pi-linkedin"></i
            ></a>
            <a href="{{ socialMediaLinks.github }}" target="_blank"
              ><i class="pi pi-github"></i
            ></a>
            <a href="{{ socialMediaLinks.instagram }}" target="_blank"
              ><i class="pi pi-instagram"></i
            ></a>
            <a href="{{ socialMediaLinks.x }}" target="_blank"
              ><i class="pi pi-twitter"></i
            ></a>
          </div>
        </div>
        <div class="contact-info-section">
          <i class="pi pi-envelope"></i>
          <h4>Contact me via email</h4>
          <a href="mailto:jeffjordan97@hotmail.co.uk"
            ><p>jeffjordan97&#64;hotmail.co.uk</p></a
          >
        </div>
        <div class="contact-info-section">
          <i class="pi pi-map-marker"></i>
          <h4>Current location</h4>
          <p>Liverpool, UK</p>
          <!-- <p>Ready to support clients worldwide</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->
