<!-- About -->
<section id="about" class="section">
  <div class="container">
    <div class="header center">
      <p>ABOUT</p>
      <h2>I'm a full-stack software engineer from the UK 🧑‍💻</h2>
      <p>
        Throughout my career, I've successfully designed, developed, deployed,
        and supported a variety of software solutions, ranging from large-scale
        platform modernizations 💰 to efficient integrations that enhance
        business capabilities. 🥇
      </p>
    </div>
    <div class="cards">
      <div class="card box-shadow hover-shadow fadeInBefore">
        <i class="pi pi-pen-to-square"></i>
        <h3>Design</h3>
        <p>
          Blueprints for architecture, user interfaces, and technical
          requirements.
        </p>
      </div>
      <div class="card box-shadow hover-shadow fadeInBefore">
        <i class="pi pi-code"></i>
        <h3>Develop</h3>
        <p>
          Building the core features and functionality to create the software.
        </p>
      </div>
      <div class="card box-shadow hover-shadow fadeInBefore">
        <i class="pi pi-download"></i>
        <h3>Deploy</h3>
        <p>
          Preparing, packaging and releasing software to the production
          environment.
        </p>
      </div>
      <div class="card box-shadow hover-shadow fadeInBefore">
        <i class="pi pi-wrench"></i>
        <h3>Support</h3>
        <p>Maintaining software, addressing bugs, and providing updates.</p>
      </div>
    </div>
    <div class="content">
      <img src="./assets/images/profile.png" />
      <div class="content-text">
        <h2>About Me</h2>
        <p>
          I've always been driven by curiosity and a love for solving complex
          problems, which naturally led me to a career in software engineering.
          Over the past 5+ years, I've had the privilege of working on a wide
          range of projects, from full-stack applications to large-scale system
          integrations. With expertise in Java, Angular, and cloud technologies,
          I specialize in designing, developing, and deploying efficient,
          scalable software solutions.
        </p>
        <p>
          Throughout my career, I've learned that being a software engineer
          isn't just about mastering a single technology—it's about having a
          broad toolkit of frameworks, languages, and platforms to draw from.
          Having the ability to choose and apply the right tools for the job is
          key. My experience across a wide range of technologies allows me to
          approach each project with flexibility, selecting the most efficient
          and scalable technologies based on the specific challenges at hand.
        </p>
        <a href="#contact" class="primary-button">Let's Chat!</a>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
