// Transition mixin
@mixin global-transition {
  transition: 0.125s ease-in-out, background-color 0.2s ease-out,
    color 0.1s ease-out, border 0.1s ease-out;
}

#experience .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline {
  position: relative;
  left: -17%;

  ul {
    padding: 0;
    margin: 0;
  }

  .default-line {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background: var(--bg);
    height: 2400px;
  }

  .draw-line {
    width: 4px;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
  }

  ul li {
    list-style-type: none;
    position: relative;
    width: 2px;
    margin: 0 auto;
    height: 400px;
    background: transparent;

    &.in-view {
      @include global-transition;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: 50px;
        width: 50px;
        border: 2px solid var(--primary);
        background-color: var(--bg-secondary);
        background-repeat: no-repeat;
        background-size: contain;
        @include global-transition;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 25px;
      width: 25px;
      border: 2px solid var(--bg);
      background-color: var(--bg-secondary);
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.4s ease-in-out;
    }

    div.date {
      position: absolute;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
    }

    // &:nth-child(2n) {
    //   div.date {
    //     left: 50px;
    //     right: unset;
    //   }

    //   div.role {
    //     right: 50px;
    //     left: unset;

    //     &::before {
    //       left: 100%;
    //       right: unset;
    //       border-left: 20px solid var(--bg);
    //       border-right: 20px solid transparent;
    //     }
    //   }
    // }

    div.role {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      width: 500px;
      height: auto;
      background-color: var(--bg);
      border-radius: var(--s-m);
      padding: var(--s-m);
      display: flex;
      flex-direction: column;
      gap: var(--s-m);

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        right: 100%;
        margin: auto;
        width: 0;
        height: 0;
        border-bottom: 20px solid transparent;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
        border-right: 20px solid var(--bg);
      }

      .roleTitle {
        display: flex;
        flex-direction: column;
        gap: var(--s-xs);
      }

      .flex {
        display: flex;
        gap: var(--s-s);
        align-items: center;
      }
    }
  }
}

.timeline ul li.dizplai::before {
  background-image: url("/assets/images/dizplai-logo.jpg");
  background-color: white;
}

.timeline ul li.qvc::before {
  background-image: url("/assets/images/QVC-logo.svg");
  background-color: white;
}

.timeline ul li.very::before {
  background-image: url("/assets/images/Very-logo.png");
}

.timeline ul li.lfc::before {
  background-image: url("/assets/images/Lfc-logo.png");
}

.timeline ul li.uol::before {
  background-image: url("/assets/images/UoL-logo.svg");
  background-position: center;
  background-color: #1f3a7d;
}

.timeline ul li.next::before {
  background-image: url("/assets/images/Next-logo.jpg");
}

.timeline-item-arrow {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 100%;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid aliceblue;
  border-right: 20px solid transparent;
}

// .timeline-item:nth-child(2n) .timeline-item-arrow {
//   left: unset;
//   right: 100%;
//   border-left: 20px solid transparent;
//   border-right: 20px solid aliceblue;
// }

@media (max-width: 991.98px) {
  .timeline {
    left: -32%;
  }
}

@media (max-width: 767.98px) {
  .timeline {
    left: -34%;

    ul li div.role {
      width: 400px;
    }
  }
}

@media (max-width: 575.98px) {
  .timeline {
    left: -22%;
    ul li div.role {
      width: 240px;
    }
  }
}

@media (max-width: 413.98px) {
  .timeline {
    left: -19%;
    ul li div.role {
      width: 180px;
    }
  }
}

// Animations

@keyframes fadeInLeftTimeline {
  0% {
    transform: translateX(200px) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}
.fadeInLeftTimeline {
  transform: translateX(0) translateY(-50%);
  animation: fadeInLeftTimeline 1s both;
}
