<!-- Experience -->
<section id="experience" class="section section-bg">
  <div class="container">
    <div class="header center">
      <p>EXPERIENCE</p>
      <h2>My Experiences</h2>
      <p>
        I've had the chance to work on some incredible projects, 🤩 though my
        journey didn't begin in software development. Take a look through my
        timeline of roles and experiences that have shaped my career. 👣
      </p>
    </div>

    <div class="timeline">
      <ul>
        <span class="default-line"></span>
        <span class="draw-line"></span>
        <li class="qvc">
          <div class="date"><h4>2020</h4></div>
          <div class="role box-shadow">
            <div class="roleTitle">
              <h4>Software Engineer</h4>
              <div class="flex">
                <i class="pi pi-map-marker"></i>
                <p class="bolder">QVC UK</p>
              </div>
              <div class="flex">
                <i class="pi pi-calendar"></i>
                <p>2020-2024</p>
              </div>
            </div>
            <p>
              Designing, developing, and deploying a range of applications to
              support with QVC UK supply chain operations.
            </p>
          </div>
        </li>
        <li class="very">
          <div class="date"><h4>2018</h4></div>
          <div class="role box-shadow">
            <div class="roleTitle">
              <h4>Web Developer</h4>
              <div class="flex">
                <i class="pi pi-map-marker"></i>
                <p class="bolder">Very</p>
              </div>
              <div class="flex">
                <i class="pi pi-calendar"></i>
                <p>2018-2019</p>
              </div>
            </div>
            <p>
              Frontend developer in the BAU content team, producing responsive
              webpages for Very and Littlewoods.
            </p>
          </div>
        </li>
        <li class="lfc">
          <div class="date"><h4>2017</h4></div>
          <div class="role box-shadow">
            <div class="roleTitle">
              <h4>Hospitality Waiting Staff</h4>
              <div class="flex">
                <i class="pi pi-map-marker"></i>
                <p class="bolder">Liverpool FC</p>
              </div>
              <div class="flex">
                <i class="pi pi-calendar"></i>
                <p>2017-2018</p>
              </div>
            </div>
            <p>
              Match-day hospitality staff member at Liverpool football club,
              supporting with customer care.
            </p>
          </div>
        </li>
        <li class="uol">
          <div class="date"><h4>2016</h4></div>
          <div class="role box-shadow">
            <div class="roleTitle">
              <h4>Student</h4>
              <div class="flex">
                <i class="pi pi-map-marker"></i>
                <p class="bolder">University of Liverpool</p>
              </div>
              <div class="flex">
                <i class="pi pi-calendar"></i>
                <p>2016-2020</p>
              </div>
            </div>
            <p>
              Student at the University of Liverpool studying Computer Science.
              Achieved a first class honours BSc degree.
            </p>
          </div>
        </li>
        <li class="next">
          <div class="date"><h4>2015</h4></div>
          <div class="role box-shadow">
            <div class="roleTitle">
              <h4>Sales Assistant</h4>
              <div class="flex">
                <i class="pi pi-map-marker"></i>
                <p class="bolder">Next</p>
              </div>
              <div class="flex">
                <i class="pi pi-calendar"></i>
                <p>2015-2016</p>
              </div>
            </div>
            <p>
              Part-time sales assistant, supporting with customer care and stock
              management.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="timeline">
          <div class="timeline-line"></div>
          <div class="timeline-list">
            <div class="timeline-item" *ngFor="let role of roles">
              <div class="timeline-item-card shadow-lg">
                <div class="timeline-item-arrow"></div>
                <div class="timeline-item-card-header">
                  <div class="timeline-item-card-header-text">
                    <h4>{{ role.name }}</h4>
                    <h5>{{ role.company }}</h5>
                    <h5 class="date">
                      {{ role.startDate }} - {{ role.endDate }}
                    </h5>
                  </div>
                  <img [src]="role.image" /> 
                </div>
                <div class="timeline-item-card-description">
                  <p>{{ role.description }}</p>
                </div>
              </div>
              <div class="timeline-item-image">
                <img [src]="role.image" />
              </div>
              <div class="timeline-item-date">
                <span>{{ role.startDate }} - {{ role.endDate }}</span>
              </div>
            </div>
          </div>
        </div> -->
  </div>
</section>
<!-- End Experience -->
