<!-- Experience -->
<section id="experience" class="section section-bg">
  <div class="container">
    <div class="header center">
      <p>EXPERIENCE</p>
      <h2>My Experiences</h2>
      <p>
        I've had the chance to work on some incredible projects, 🤩 though my
        journey didn't begin in software development. Take a look through my
        timeline of roles and experiences that have shaped my career. 👣
      </p>
    </div>

    <div class="timeline">
      <ul>
        <span class="default-line"></span>
        <span class="draw-line"></span>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
        <li>
          <div></div>
        </li>
      </ul>
    </div>

    <!-- <div class="timeline">
          <div class="timeline-line"></div>
          <div class="timeline-list">
            <div class="timeline-item" *ngFor="let role of roles">
              <div class="timeline-item-card shadow-lg">
                <div class="timeline-item-arrow"></div>
                <div class="timeline-item-card-header">
                  <div class="timeline-item-card-header-text">
                    <h4>{{ role.name }}</h4>
                    <h5>{{ role.company }}</h5>
                    <h5 class="date">
                      {{ role.startDate }} - {{ role.endDate }}
                    </h5>
                  </div>
                  <img [src]="role.image" /> 
                </div>
                <div class="timeline-item-card-description">
                  <p>{{ role.description }}</p>
                </div>
              </div>
              <div class="timeline-item-image">
                <img [src]="role.image" />
              </div>
              <div class="timeline-item-date">
                <span>{{ role.startDate }} - {{ role.endDate }}</span>
              </div>
            </div>
          </div>
        </div> -->
  </div>
</section>
<!-- End Experience -->
