// Transition mixin
@mixin global-transition {
  transition: 0.125s ease-in-out, background-color 0.2s ease-out,
    color 0.1s ease-out, border 0.1s ease-out;
}

.timeline {
  ul {
    padding: 0;
    margin: 0;
  }

  .default-line {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    background: #cfd8df;
    height: 1500px;
  }

  .draw-line {
    width: 4px;
    height: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
  }

  ul li {
    list-style-type: none;
    position: relative;
    width: 2px;
    margin: 0 auto;
    height: 400px;
    background: transparent;

    &.in-view {
      @include global-transition;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: var(--primary);
        @include global-transition;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: inherit;
      background: #cfd8df;
      opacity: 1;
      transition: all 0.4s ease-in-out;
    }
  }
}

// .timeline-item:nth-child(2n) .timeline-item-card {
//   grid-column: 2;
//   justify-self: flex-end;
// }

// .timeline-item:nth-child(n) .timeline-item-card {
//   position: relative;
//   padding: 1rem;
//   background-color: aliceblue;
//   width: 90%;
//   text-align: left;
// }

.timeline-item-arrow {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 100%;
  margin: auto;
  width: 0;
  height: 0;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid aliceblue;
  border-right: 20px solid transparent;
}

.timeline-item:nth-child(2n) .timeline-item-arrow {
  left: unset;
  right: 100%;
  border-left: 20px solid transparent;
  border-right: 20px solid aliceblue;
}

// END Timeline

@media (max-width: 782px) {
  // .timeline-item {
  //   display: block;
  // }
  // .timeline-line {
  //   left: 5%;
  //   right: 0;
  //   margin-inline: 0;
  // }
  // .timeline-item-image {
  //   width: 10%;
  //   margin: auto;
  //   left: 0;
  //   right: unset;
  //   background: white;
  //   max-height: fit-content;
  //   padding: 0.25rem 0;
  // }

  // .timeline-item-card {
  //   width: 80% !important;
  //   margin-left: 20%;
  // }

  // .timeline-item-date {
  //   display: none;
  // }

  // .timeline-item-card h5.date {
  //   display: block;
  // }

  // .timeline-item-arrow {
  //   left: unset;
  //   right: 100%;
  //   border-left: 20px solid transparent;
  //   border-right: 20px solid aliceblue;
  // }
}
