<!-- Projects -->
<section id="work" class="section">
  <div class="container">
    <div class="header">
      <p>WORK</p>
      <h2>My Recent Work</h2>
      <p>
        Whether working as part of an agile team 🤝 or leading technical
        initiatives, here are a few standout projects that highlight my journey
        as a software engineer. ✅
      </p>
    </div>
    <div class="projects">
      <div
        class="project box-shadow hover-shadow fadeInBefore"
        *ngFor="let project of projects"
      >
        <div class="project-title">
          <div class="project-icon"></div>
          <h4>{{ project.name }}</h4>
        </div>
        <div class="project-duration">
          <i class="pi pi-calendar"></i>
          <p class="bolder">{{ project.duration }}</p>
        </div>
        <div class="project-description">
          <p>{{ project.description }}</p>
        </div>
        <div class="project-skills">
          <div
            class="technology"
            *ngFor="let technology of project.technologies"
          >
            <img
              class="technology-image"
              [src]="technology.image"
              loading="lazy"
            />
            <p>{{ technology.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="projects" class="section section-bg">
  <div class="container">
    <div class="row justify-content-center section-title">
      <div class="col-lg-9 text-center">
        <h2>My Projects</h2>
        <p>
          Whether working as part of an agile team or leading technical
          initiatives, here are a few projects that highlight my journey as a
          software engineer.
        </p>
      </div>
    </div>
    <div class="project-grid">
      <div
        class="project-card py-4 px-4 bg-white shadow-lg rounded-lg mt-20"
        *ngFor="let project of projects; let i = index"
      >
        <div class="project-card-header">
          <img
            class="pb-4"
            src="../../../assets/images/placeholder.svg"
            alt=""
          />
          <h2>{{ project.name }}</h2>
          <span>{{ project.duration }}</span>
          <p>{{ project.description }}</p>
        </div>

        <div class="project-card-technologies">
          <div
            class="technology"
            *ngFor="let technology of project.technologies"
          >
            <input
              class="technology-btn"
              type="checkbox"
              [id]="project.name + '_' + technology.name"
              (change)="onTechnologyClick(project, technology)"
              [checked]="project.selectedTechnology === technology"
            />
            <label
              class="technology-label"
              [for]="project.name + '_' + technology.name"
              [ngClass]="{
                'selected-technology-label':
                  project.selectedTechnology === technology
              }"
            >
              <img
                class="technology-image"
                [src]="technology.image"
                alt="{{ technology.name }}"
                loading="lazy"
              />
              <span>{{ technology.name }}</span>
            </label>
          </div>
        </div>
        <div *ngIf="project.selectedTechnology" class="selected-technology">
          <img
            [src]="project.selectedTechnology.image"
            alt="{{ project.selectedTechnology.name }}"
          />
          <h3>{{ project.selectedTechnology.name }}</h3>
          <p>{{ project.selectedTechnology.description }}</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End Projects -->
