<!-- Projects -->
<section id="work" class="section">
  <div class="container">
    <div class="header">
      <p>WORK</p>
      <h2>My Recent Work</h2>
      <p>
        Whether working as part of an agile team 🤝 or leading technical
        initiatives, here are a few standout projects that highlight my journey
        as a software engineer. ✅
      </p>
    </div>
    <div class="projects">
      <div
        class="project box-shadow hover-shadow fadeInBefore"
        *ngFor="let project of projects"
      >
        <div class="project-title">
          <div class="project-icon"></div>
          <h4>{{ project.name }}</h4>
        </div>
        <div class="project-duration">
          <i class="pi pi-calendar"></i>
          <p class="bolder">{{ project.duration }}</p>
        </div>
        <div class="project-description">
          <p>{{ project.description }}</p>
        </div>
        <div class="project-skills">
          <div
            class="technology"
            *ngFor="let technology of project.technologies"
          >
            <img
              class="technology-image"
              [src]="technology.image"
              loading="lazy"
            />
            <p>{{ technology.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Projects -->
