<!-- Hero -->
<section id="hero" class="section">
  <!-- <img src="/Portfolio/assets/images/hero-bg.jpg" /> -->
  <div class="container">
    <div class="memoji">
      <img src="./assets/images/memoji-hero.png" />
    </div>
    <div class="hero-title">
      <h2>Hi <span class="wave-emoji">👋</span> I'm Jeff, The</h2>
      <h1 class="primary">SOFTWARE</h1>
      <h1>ENGINEER</h1>
    </div>
    <div class="hero-text">
      <!-- <div class="word-animator">
        <h2 #typingText></h2>
        <h2 class="cursor">|</h2>
      </div> -->
      <p>
        I specialize in designing, developing, and deploying high-quality
        software solutions.
      </p>
    </div>
    <a href="#contact" class="primary-button">Let's Connect</a>
  </div>
</section>
<!-- End Hero -->
