section#hero {
  position: relative;
  height: 70vh;
  height: 70dvh;
  display: flex;
  align-items: center;
}

#hero .container {
  display: flex;
  flex-direction: column;
  gap: var(--s-l);
  justify-content: center;
  align-items: center;
}

.hero-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title h2 {
  margin-bottom: var(--s-m);
}

.hero-title h1.primary {
  color: var(--primary);
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: var(--s-m);
  max-width: 650px;
  text-align: center;
}

// #hero img {
//   // mask-image: linear-gradient(to right, #ffffff00, #ffffff);
//   position: absolute;
//   z-index: -1;
//   right: 0;
//   filter: grayscale(100%);
//   object-fit: cover;
//   object-position: top;
//   height: -webkit-fill-available;
//   width: 100%;
//   opacity: 0.1;
// }
.memoji {
  background-color: var(--primary);
  border-radius: 50%;
  padding: 16px;
  box-shadow: 0px 0px 20px 5px var(--primary);
}

.memoji img {
  height: 70px;
}

// Typing Effect Styles
.word-animator {
  display: flex;
  justify-content: center;
}

.cursor {
  display: inline-block;
  animation: blink 0.8s infinite;
}
// END Typing Effect Styles

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

/* Media Query */
@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  section#hero {
    height: 90vh;
    height: 90dvh;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
