<!-- Hero -->
<section id="hero" class="section">
  <img src="/assets/images/hero-bg.jpg" />
  <div class="container">
    <div class="hero-title">
      <h1>Jeffrey</h1>
      <h1>Jordan</h1>
    </div>
    <div class="hero-text">
      <div class="word-animator">
        <h2 #typingText></h2>
        <h2 class="cursor">|</h2>
      </div>
      <p>
        Welcome to my portfolio! <span class="wave-emoji">👋</span> I'm Jeff, a
        full-stack software engineer from the UK. I specialize in designing,
        developing, and deploying high-quality software solutions.
      </p>
    </div>
    <a href="#contact" class="primary-button">Let's Connect</a>
  </div>
</section>
<!-- End Hero -->
